* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    font-size: 16px;
}

header {
    /* background: rgb(0, 0, 50, 0.8);*/
    background: url(../img/fondo.png), #1e2b38;
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    overflow: hidden;
}

header .contenedor_logo_menu {
    padding: 25px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

header .contenedor_logo_menu {
    padding: 25px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

header .contenedor_logo_menu .logo a {
    display: block;
}

header .contenedor_logo_menu .logo a img {
    vertical-align: top;
}

header .contenedor_logo_menu .menu {
    text-align: right;
    line-height: 50px;
}

header .contenedor_logo_menu .menu a {
    color: #fff;
    margin-left: 60px;
    font-size: 18px;
    margin-bottom: 100px;
}

header .textos {
    color: #fff;
    text-align: center;
    margin: 200px 0;
    background: rgba(0, 0, 0, 0.50);
    padding: 20px;
    border-radius: 5px;
}

header .textos .primera_linea, header .textos .segunda_linea {
    font-family: "Open Sans", Arial, Sans-serif;
    font-weight: 300;
}

header .textos .primera_linea {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 30px;
}

header .textos .segunda_linea {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 60px;
}

header .textos .contenedor-btns a {
    border-radius: 4px;
    border: 2px solid #fff;
    color: #fff;
    padding: 12px 0;
    font-weight: 600;
    width: 235px;
    display: inline-block;
    text-align: center;
    margin: 0px 10px;
}

header .textos .contenedor-btns a:hover {
    text-decoration: none;
    background: #fff;
    color: #4f4f4f;
}

.main {
    background: #f2f2f2;
}

.main .caracteristicas {
    padding: 60px 0;
}

.main .caracteristicas .container {
    background: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

.main .caracteristicas .titulo, #Trabajos {
    text-align: center;
    font-family: "Open Sans", Arial, Sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #000;
    margin-bottom: 70px;
}

.main .caracteristicas .caracteristica {
    text-align: center;
    margin-bottom: 20px;
    padding: 40px;
}

.main .caracteristicas .caracteristica .icono {
    vertical-align: top;
    margin-bottom: 30px;
   
}

.main .caracteristicas .caracteristica .primera_linea {
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 20px;
    
}

.main .caracteristicas .caracteristica .parrafo {
    margin-bottom: 20px;
    line-height: 20px;
    color: #64830f;
    text-align: left;
    font-weight: 500;
   
}

.main .caracteristicas .caracteristica ul {
    text-align: left;
    
}

/*trabajos*/

.main .fotos {
    margin-bottom: 60px;
}

.main .fotos .container {
    background: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

.main .fotos .foto {
    margin-bottom: 20px;
}

.main .fotos .foto .thumb img {
    border-radius: 2px;
    width: 100%;
    vertical-align: top;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.4);
}

.main .fotos .foto .thumb img:hover  {
    opacity: 0.5;
    cursor: pointer;

}

.main .fotos .foto .titulo {
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 32px;
    font-weight: 300;
}

.main .fotos .foto .titulo.azul {
    color: #4facd3;
}

.main .fotos .foto .titulo.naranja {
    color: #ddb146;
}

.main .fotos .foto .parrafo {
    line-height: 28px;
}

.main .fotos .foto .derecha {
    text-align: right;
}

.main .fotos .foto .derecha ul {
    list-style-type: none;
}

.main .precios {
    background: #627B93;
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    padding: 70px 0;
}

.main .precios .titulo {
    text-align: center;
    font-family: "Open Sans", Arial, Sans-serif;
    font-weight: 300;
    font-size: 32px;
    color: #fff;
    margin-bottom: 70px;
}

.main .precios .plan {
    background: #fff;
    text-align: center;
    font-family: "Open Sans", Arial, Sans-serif;
    padding: 50px 0;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
}

.main .precios .plan .nombre {
    font-size: 32px;
    line-height: 32px;
    font-weight: 300;
    margin-bottom: 30px;
}

.main .precios .plan .precio {
    font-weight: 300;
    font-size: 48px;
    margin-bottom: 30px;
}

.main .precios .plan .caracteristicas {
    list-style: none;
    padding: 0 20px;
    margin-bottom: 50px;
}

.main .precios .plan .caracteristicas li {
    font-size: 18px;
    padding: 15px 0;
    border-bottom: 1px solid #dedede;
}

.main .precios .plan .btn {
    width: 70%;
    padding: 15px 0;
    text-align: center;
    display: inline-block;
    border-radius: 100px;
}

.main .precios .plan .btn:hover {
    text-decoration: none;
}

.main .precios .plan.verde .nombre, .main .precios .plan.verde .precio {
    color: #86b773;
}

.main .precios .plan.verde .btn {
    color: #86b773;
    border: 2px solid #86b773;
}

.main .precios .plan.verde .btn:hover {
    background: #86b773;
    color: #fff;
}

.main .precios .plan.active {
    background: #4c8dce;
    color: #fff;
}

.main .precios .plan.active .btn {
    color: #fff;
    border: 2px solid #fff;
}

.main .precios .plan.active .btn:hover {
    background: #fff;
    color: #4c8dce;
}

.main .precios .plan.naranja .nombre, .main .precios .plan.naranja .precio {
    color: #ddb146;
}

.main .precios .plan.naranja .btn {
    color: #ddb146;
    border: 2px solid #ddb146;
}

.main .precios .plan.naranja .btn:hover {
    background: #ddb146;
    color: #fff;
}

footer .direccion {
    background: #1e2b38;
    padding: 30px 0;
    color: #fff;
}

/*Medias querys*/

@media screen and (max-width: 992px) {
    header .menu {
        position: sticky;
        top: 10em;
        background: rgba(255, 255, 255, 0.5);
    }
    header .menu a {
        color: #000!important;
    }
    header .contenedor_logo_menu .logo {
        margin-bottom: 20px;
        text-align: center;
    }
    header .contenedor_logo_menu .menu {
        text-align: center;
    }
    header .contenedor_logo_menu .menu a {
        margin: 0 20px;
    }
    header .textos {
        margin: 50px 0;
        font-size: 16px;
    }
    header .textos .primera_linea {
        font-size: 1.5em;
    }
    header .textos .segunda_linea {
        font-size: 1.3em;
    }
    header .textos .contenedor-btns a {
        margin-bottom: 10px;
    }
    .main .fotos .foto .titulo {
        margin-top: 0;
    }
    .main .clientes .cliente {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 768px) {
    .main .caracteristicas .caracteristica {
        margin-bottom: 40px;
    }
    .main .fotos .foto {
        text-align: center;
    }
    .main .fotos .foto .texto * {
        text-align: left;
    }
    .main .fotos .foto .texto p {
        margin-bottom: 10px;
    }
    .main .precios .precio {
        margin-bottom: 20px;
    }
    footer .direccion {
        text-align: center;
    }
    footer .direccion .logo img {
        margin-top: 20px;
    }
    .modal-body img{
        height: 300px;
    } 
}